.AdminButtons {
  text-decoration: none;
  //transform: translate(0, 50%);
  margin-top: 9rem;
  display: flex;

  justify-content: space-around;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;

  height: 200px;
  width: 100%;
}

.AdminPageTableContainer {
  margin-top: 3rem;
}
@media screen and (max-width: 1230px) {
  .AdminButtons {
    justify-content: space-around;
  }
}

@media screen and (max-width: 580px) {
  .AdminButtons {
    margin-top: 10rem;
  }
}
