.container {
  margin: auto;
  direction: flex;
  transform: translate(0, 100px);
  box-shadow: 0px 0px 15px 10px rgba(15, 15, 15, 0.2);
  width: 40%;
}

.promptMessage {
  display: flex;
  font-size: 1.3rem;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
}
.patientForm {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
}
.Buttons {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 30px;
}

input[type="text"] {
  padding: 2px;
  font-weight: 700;
  background-color: #f3f3f3;
  border: 0;
  border-radius: 4px;
}

label {
  padding: 6px;
  margin-right: 4px;
}

.Dob input[type="text"] {
  width: 40px;
}
.Height input[type="text"] {
  width: 40px;
}
.Weight input[type="text"] {
  width: 40px;
}

.FirstName,
.LastName,
.Dob,
.Height,
.Weight {
  padding: 8px;
}

.Height,
.Weight {
  display: flex;
  justify-content: center;
  align-content: center;
}

.subBut,
.cancBut {
  margin: 10px;
}
