.container {
  margin: auto;
  direction: flex;
  transform: translate(0, 40%);
  box-shadow: 0px 0px 15px 10px rgba(15, 15, 15, 0.2);
  width: 30%;
  padding: 2rem;
}

.promptMessage {
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
}
.patientForm {
  height: 250px;
  width: 100%;
}
.Buttons {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 10px;
}

.cNames {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.Dob {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 10px;
  width: 100%;
}

.hW {
  display: flex;
  justify-content: center;
  align-items: center;
}

.doblabel {
  margin-right: 10px;
}

.dobmonth,
.dobday {
  width: 65px;
}

.dobyear {
  width: 100px;
  text-align: center;
}

.dobmonth,
.dobday,
.dobyear {
  padding: 5px;
}

.weightForm,
.heightForm {
  width: 110px;
}

.FirstName {
  margin-right: 5px;
}
.LastName {
  margin-left: 5px;
}

.subBut,
.cancBut {
  margin: 10px;
}

.Height,
.Weight {
  padding: 5px;
}
