.resetPassword-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resetPassword-inputFields {
  margin: 1rem 2rem;
}


.resetPassword-buttons {
    margin-bottom: 1rem;
  }