.form {
  margin: auto;
  transform: translate(0, 25%);
  box-shadow: 0px 0px 15px 10px rgba(15, 15, 15, 0.2);
  width: 30%;
  padding: 1rem;
}

.patientForm {
  height: 500px;
  width: 100%;
}

.form-n {
  margin: auto;
  transform: translate(0, 40%);
  box-shadow: 0px 0px 15px 10px rgba(15, 15, 15, 0.2);
  width: 30%;
  padding: 1rem;
}

.patientForm-n {
  height: 380px;
  width: 100%;
}

.form-p {
  margin: auto;
  transform: translate(0, 60%);
  box-shadow: 0px 0px 15px 10px rgba(15, 15, 15, 0.2);
  width: 30%;
  padding: 1rem;
}

.patientForm-p {
  height: 300px;
  width: 100%;
}

.dateOfBirth,
.department,
.specialty {
  display: flex;
  justify-content: center;
  align-items: center;
}

.firstName,
.lastName,
.weightField,
.heightField {
  padding: 1.2rem 1.6rem; // padding: top-bottom 1.2, right-left
  width: 100%;
  border-radius: 6px;
  border: 1px solid silver;
}

.dateOfBirth,
.admissionDate,
.department,
.specialty {
  padding: 1.2rem 1.2rem;
  border-radius: 6px;
  border: 1px solid silver;
  width: 100%;
}

.Buttons-createpatient {
  justify-content: center;
}

.subBut,
.cancBut {
  width: 30%;
  padding-right: 100px;
}

// Style Heading
.promptMessage {
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100px;
  width: 100%;
}

.Buttons-createpatient {
  display: flex;
}

.subBut,
.cancBut {
  width: 30%;
  padding-top: 10px;
}

.error {
  color: red;
}

.Button-text {
  color: white;
}
