// .nurse__title {
//   //   position: absolute;
//   //   top: 6rem;
//   left: 50%;
//   align-items: center;
//   display: flex;
//   justify-content: center;
// }

.nurse__title {
  position: absolute;
  font-size: 2rem;
  left: 50%;
  top: 150px;
  transform: translateX(-50%);
  text-align: center;
}
