.nurse__title {
<<<<<<< HEAD
  //   position: absolute;
  //   top: 6rem;
  left: 50%;
  padding: $xl-size;
  align-items: center;
  display: flex;
  justify-content: center;
=======
    position: absolute;
>>>>>>> 76bf72e72d0459f4f830cae938f91200cadded89
}
