.paper-container {
  position: relative;
  margin: 15rem 5% 5% 5%;
  padding: 0.5%;
}

.paper-container-1 {
  position: relative;
  margin: 15rem 5% 5% 5%;
  padding: 0.5%;
}

.paper-situation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  height: 100%;
}

.situation {
  font-size: 20vw;
  z-index: 5;
  color: $base-color;
}

.background {
  font-size: 17vw;
  width: 281.6px;
  height: auto;
  z-index: 5;
  color: $base-color;
}

.assessment {
  position: relative;
  font-size: 17vw;
  width: 281.6px;
  height: auto;
  z-index: 5;
  color: $base-color;
}

.recommendation {
  font-size: 17vw;
  width: 281.6px;
  height: auto;
  z-index: 5;
  color: $base-color;
}
